body {
    margin: 65px auto auto auto; 
    width: 70%;
    background-color:pink;
    font-size:10px;
}

.textsection {
    background-color:white;
    padding:20px;
    margin:20px;
    border-style: solid;
    border-color: #A9A9A9;
    border-width: 1px;
    border-radius: 15px;
}

.profilepic {
    border-radius: 50%;
    box-shadow: 10px 10px 5px grey;
}

.card {
    margin:5px;
}


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

