html {
    scroll-behavior: smooth;
    
}

body {
    background-color:#d3b4ba;
    color:#E1C0D2;
    padding:5rem;
    font-family: 'Quicksand', sans-serif;
}

.row {
    margin: 5px;
}

/* buttons */
.btn {
    border-radius: 40px;
    font-size: 1em;
    border-width: 0px;
    color:#172727;

}

.btn:hover {
    background-color:#000;
    color:#d3b4ba;

}

a:link {
    text-decoration: none;
    color:#000;
}

a:visited {
    text-decoration: none;
    color:#000;
}

a:hover {
    text-decoration: underline;
    color:#7D314C;
}

a:active {
    text-decoration: underline;
    color:#7D314C;
}

#contact {
padding-top: 1em;
}

p {
    color:#000;
    font-size: 24px;
}

.column {
    background-color:white;
}

.footer {
    background-color:#d3b4ba;
    color:#7D314C;
    font-size:24px;

}

.bold {
    color:#7D314C;
    font-size: 30px;
}

.img-fluid {
    max-width: 100%;
    height: auto;

}

li {
    color:#000;
    font-size: 24px;
}