html {
    scroll-behavior: smooth;
    
}

body {
    background-color:#253C44;
    color:#E1C0D2;
    padding:5rem;
    font-family: 'Quicksand', sans-serif;
}

.row {
    margin: 5px;
}

/* buttons */
.btn {
    border-radius: 40px;
    font-size: 1em;
    border-width: 0px;
    color:#172727;

}

.btn:hover {
    background-color:#E1C0D2;
    color:#4B7A8C;

}

a {
    color:#E1C0D2;
}

a:hover {
    color:#E1C0D2;
}


#contact {
    padding-top: 1em;
}

p {
    color:#172727;
}

.column {
    background-color:white;
}

.footer {
    background-color:#4B7A8C;

}

.bold {
    color:#E1C0D2;
    font-size: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;

}