html {
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color:#4B7A8C;
    color:#E1C0D2;
    padding:100px;
}

#home {
    font-family: 'Quicksand', sans-serif;
}

/* buttons */
.btn {
    border-radius: 40px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    border-width: 0px;

}

.btn:hover {
    background-color:#E1C0D2;
    color:#4B7A8C;

}

.footer {
    text-align: center;
}

a {
    color:#E1C0D2;
}

a:hover {
    color:#E1C0D2;
}

#cli {
    height:300px;
    background-color:white;
    border-radius: 20px;
}

#contact {
    padding-top: 1em;
}